@using Microsoft.Extensions.Localization;
@using Kamigo.Data.Models;
@inject IStringLocalizer<App> Localizer;


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=@Game.ImageUrl alt="@Game.Name">
    <div class="card-body">
        <h5 class="card-title">@Game.Name</h5>
        <p class="card-text">@Game.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Localizer["game-generation_label"] : @Game.Generation</li>
        <li class="list-group-item">@Localizer["game-region_label"] : @Game.Region</li>
        <li class="list-group-item">@Localizer["game-release-date_label"] : @Game.ReleaseDate.ToShortDateString()</li>
    </ul>
    <a href="/pokedex/@Game.Id" class="btn btn-primary">@Localizer["my-pokedex_button"]</a>
    <a class="btn btn-danger" @onclick="@DeleteMethod">@Localizer["delete-game_button"]</a>
</div>

@code {
    [Parameter]
    public PokemonGame Game { get; set; }

    [Parameter]
    public EventCallback DeleteMethod { get; set; }
}
